@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  background-color: aliceblue;

}
body {
  p, h1, h2, h3, h4, h5, div, Link{
    background-color: rgba(255, 255, 255, 0);
  }  
}


li {
  list-style: none;
}
Link {
  background-color: aqua;
}